.breadcrumb {
    align-items: center;
    display: inline-flex;
    gap: 15px;
    padding: 10px 0px;
    position: relative;
    padding-top: 50px;
    padding-left: 20px;
}

.breadcrumb .link {
    color: var(--text-color);
    font-family: var(--link-font-family);
    font-size: var(--link-font-size);
    font-style: var(--link-font-style);
    font-weight: var(--link-font-weight);
    letter-spacing: var(--link-letter-spacing);
    line-height: var(--link-line-height);
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.breadcrumb .topcoat-next-light {
    height: 12px;
    position: relative;
    width: 7px;
}

.breadcrumb .h {
    color: var(--second-text-color);
    font-family: var(--h-6-font-family);
    font-size: var(--h-6-font-size);
    font-style: var(--h-6-font-style);
    font-weight: var(--h-6-font-weight);
    letter-spacing: var(--h-6-letter-spacing);
    line-height: var(--h-6-line-height);
    margin-top: -1px;
    position: relative;
    text-align: center;
    white-space: nowrap;
    width: fit-content;
}

.label {
    height: 72px;
    width: 648px;
}

.label .text-wrapper {
    color: #111827;
    font-family: "Inter-Bold", Helvetica;
    font-size: 60px;
    font-weight: 700;
    left: 30px;
    letter-spacing: -1.5px;
    line-height: 72px;
    position: fixed;
    top:100;
    width: 648px;
}

.card {
    padding-top: 20px;
    padding-left: 20px;
}

