/* RatingStars.css */
.star {
    font-size: 2rem; /* Tama単o de las estrellas */
    vertical-align: middle; /* Alinea las estrellas verticalmente */
    color: #ed6c02 !important; /* Establece el color de las estrellas en amarillo */
  }
  
  .rating-container {
    display: flex;
    align-items: center; /* Alinea los elementos verticalmente en el centro */
  }
  
  /* Estilos para pantallas peque単as (menos de 500px de ancho) */
@media (max-width: 500px) {
  .star {
    font-size: 1.5rem; /* Reduce el tama単o de las estrellas para pantallas peque単as */
  }

  .rating-container {
    text-align: center; /* Centra los elementos horizontalmente */
    align-items: center;
    justify-content: center;
  }

}