.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 28rem;
}

.card-image {
  height: 13rem;
}

.infoBox {
  min-height: 10rem;
}

.infoBox2 {
  min-height: 7rem;
}

.card-modal {
  margin-bottom: 12px;
}

@media (max-width: 1080px) {
  .card-image {
    height: 12rem;
  }

  .infoBox {
    min-height: 10rem;
  }
}
