.box {
  height: 868px;
  position: fixed;
  width: 1196px;
}

.box .deco {
  height: 868px;
  left: 0;
  position: fixed;
  top: 80px;
  width: 1196px;
}

.box .ellipse {
  background-color: #d9d9d9;
  border-radius: 376.5px/354.5px;
  height: 709px;
  left: 443px;
  position: absolute;
  top: 159px;
  width: 753px;
}

.box .div {
  background-color: #d9d9d9;
  border-radius: 70.5px;
  height: 141px;
  left: 952px;
  position: absolute;
  top: 0;
  width: 141px;
}

.box .ellipse-2 {
  background-color: #d9d9d9;
  border-radius: 36px;
  height: 72px;
  left: 676px;
  position: absolute;
  top: 12px;
  width: 72px;
}

.box .ellipse-3 {
  background-color: #d9d9d9;
  border-radius: 142px;
  height: 284px;
  left: 0;
  position: absolute;
  top: 501px;
  width: 284px;
}

.text-wrapper-2 {
  color: #111827;
  font-family: "Inter-Bold", Helvetica;
  font-size: 60px;
  font-weight: 700;
  left: 248px;
  letter-spacing: -1.5px;
  line-height: 72px;
  position: fixed;
  top: 160px;
  width: 648px;

  @media screen and (max-width: 768px) {
    font-size: 2rem; /* Reducimos el tamaño de fuente para pantallas más pequeñas */
    letter-spacing: -0.025rem; /* Reducimos el espaciado entre letras para pantallas más pequeñas */
    line-height: 3rem; /* Reducimos la altura de línea para pantallas más pequeñas */
    left: 0; /* Ajustamos el espaciado lateral para pantallas más pequeñas */
    margin-top: 0.5rem; /* Ajustamos el margen superior para pantallas más pequeñas */
    width: 100%; /* Ancho del 100% en pantallas pequeñas */
    max-width: none; /* Eliminamos el ancho máximo en pantallas pequeñas */
  }
}


 .text-wrapper {
  color: var(--neutral-700);
  font-family: var(--body-lg-regular-font-family);
  font-size: var(--body-lg-regular-font-size);
  font-style: var(--body-lg-regular-font-style);
  font-weight: var(--body-lg-regular-font-weight);
  left: 70px;
  letter-spacing: var(--body-lg-regular-letter-spacing);
  line-height: var(--body-lg-regular-line-height);
  position: absolute;
  top: 240px;
  width: 648px;
  
  
}

 .p {
  color: var(--neutral-900);
  font-family: "Inter-Bold", Helvetica;
  font-size: 32px;
  font-weight: 700;
  left: 70px;
  letter-spacing: -0.8px;
  line-height: 72px;
  position: absolute;
  top: 160px;
  white-space: nowrap;
  width: 790px;
}




