.input-group {
    align-items: flex-start;
    display: inline-flex;
    justify-content: center;
    position: relative;
}

.input-group .form-control-input {
    background-color: #f8f8f8;
    border: 1px solid;
    border-color: #e6e6e6;
    border-radius: 5px 0px 0px 5px;
    height: 58px;
    overflow: hidden;
    position: relative;
    width: 789px;
}

.input-group .search {
    color: var(--second-text-color);
    font-family: "Montserrat-Regular", Helvetica;
    font-size: 14px;
    font-weight: 400;
    left: 26px;
    letter-spacing: 0.2px;
    line-height: 28px;
    position: absolute;
    top: 14px;
    white-space: nowrap;
}

.input-group .input-group-append {
    height: 58px;
    position: relative;
    width: 155px;
}

.input-group .dropdown {
    height: 58px;
}

.input-group .dropdown-toggle {
    background-color: #f8f8f8;
    border: 1px solid;
    border-color: #e6e6e6;
    height: 58px;
    position: relative;
    width: 155px;
}

.input-group .category {
    color: var(--text-color);
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 14px;
    font-weight: 500;
    left: 23px;
    letter-spacing: 0.2px;
    line-height: 28px;
    position: absolute;
    top: 14px;
    white-space: nowrap;
}

.input-group .vector {
    height: 6px;
    left: 119px;
    position: absolute;
    top: 26px;
    width: 10px;
}

.input-group .img {
    height: 58px;
    position: relative;
    width: 60px;
}
