.hero-section {
  /*background: linear-gradient(135deg, rgba(133, 160, 221, 0.2), rgba(98, 49, 124, 0.3)),
  url("../../data/img/prueba-2.png");*/
  font-family: Arial, sans-serif;
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  background: linear-gradient(135deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)),
    url("../../data/img/prueba-3.png");
  background-size: cover;
  background-position: center;
  color: #f2f2f2;
  min-height: 88.2vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cursos-button {
  font-size: 1.25rem;
  padding: 1.5rem 4rem;
  background: #007bff;
  color: #fff;
  text-decoration: none;
  border-radius: 1rem;
  transition: background-color 0.3s ease;
}

.cursos-button:hover {
  background: #0056b3;
}

/* Estilos para todos los textos*/
.hero-text {
  font-weight: 300 !important;
}

/* Estilos para pantallas pequeñas (menos de 600px) */
@media (max-width: 600px) {
  .cursos-button {
    padding: 1rem 2rem;
    font-size: 1rem;
  }

  .hero-title{
    font-size: 2rem !important;
  }

  .hero-text{
    font-size: 1rem !important;
  }
}
