.spacerTop{
    margin: 0;
    padding: 0;
    align-items: center;
}

@media (max-width: 600px) {
  .spacerTop {
    min-height: 18rem;
  }
}

@media (min-width: 600px) and (max-width: 900px) {
  .spacerTop {
    min-height: 10rem;
  }
}

@media (min-width: 900px) {
  .spacerTop {
    min-height: 9rem;
  }
}

.spacerTop {
  display: table;
  width: 100%; /* Opcional: ajusta el ancho según tus necesidades */
  height: 100%; /* Opcional: ajusta la altura según tus necesidades */
  text-align: center; /* Centra el contenido horizontalmente */
}

.spacerContent {
  display: table-cell;
  vertical-align: middle; /* Centra el contenido verticalmente */
}

